h1 {
  text-align: center;
  font-size: 6vmin;
}

h2 {
  font-size: 3vmin;
}

body {
  background-image: linear-gradient(to bottom,
                     #03813f, #00a069, #00bf95,
                     #00b9a2, #00cbc2,
                     #00b9a2, #00bf95, #00a069,#03813f);
  background-size: auto;
}
/* These styles are applied to the elements with the called ids'
Any style with a leading # applies to a specific element having that id  */
#playerScore, #dealerScore {
  font-size: 3vmin;
  font-weight: bold;
}

#result {
  font-size: 4vmin;
  font-weight: bold;
  margin-top: 12vmin;
}
/* These styles are applied to the elements with that class
Any style with a leading . applies to a element having that class*/
.resultText {
  font-size: 4vmin;
  font-weight: bold;
}

.cardTable {
  width: 100%;
  border: 2pt solid black;
  border-collapse: collapse;
}

.cardCell {
  width: 30%;
  border: 2pt solid black;
  border-collapse: collapse;
  vertical-align: top;
  text-align: center;
}

.buttonCell {
  width: 20%;
  border: 2pt solid black;
  border-collapse: collapse;
  vertical-align: top;
  text-align: center;
}

.resetDiv {
  text-align: center;
  margin: auto;
}

.resetButton{
  width: 15%;
}

button {
  text-align: center;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
  background-color: white;
  color: black;
  border: 1vmin solid black;
  border-radius: 4vmin;
  font-size: 4vmin;
  outline: none;
  width: 40%;
}

button:hover {
  background-color: black;
  color: white;
}

.card {
  box-sizing: border-box;
  display: inline-block;
  margin: 5px 5px 50px 5px;
  cursor: pointer;
  /* Set the card's dimensions, and size it relative to
     it's font size. */
  font-size: inherit;
  width: 8.0em;
  /* Add a default background color and border. */
  background-color: #fff;
  border-radius: 0.20em;
  border: 1px solid black;
}
